{
    "rules":
    {
        "indentation":
        [
            4,
            {
                "except": ["value"]
            }
        ],
        "no-eol-whitespace": true,
        "linebreaks": null,
        "no-empty-first-line": true,
        "max-empty-lines": 1,
        "max-line-length": null,
        "comment-whitespace-inside": "always",
        "comment-empty-line-before": null,
        "at-rule-name-case": "lower",
        "at-rule-no-unknown": true,
        "at-rule-no-vendor-prefix": true,
        "at-rule-name-space-after": "always-single-line",
        "at-rule-name-newline-after": null,
        "at-rule-empty-line-before":
        [
            "always",
            {
                except: ["after-same-name", "blockless-after-same-name-blockless", "first-nested"],
                ignore: ["after-comment", "inside-block"]
            }
        ],
        "at-rule-semicolon-space-before": "never",
        "at-rule-semicolon-newline-after": "always",
        "media-feature-name-case": "lower",
        "media-feature-name-no-unknown": true,
        "media-feature-name-no-vendor-prefix": true,
        "media-feature-colon-space-before": "never",
        "media-feature-colon-space-after": "always",
        "media-feature-range-operator-space-before": "always",
        "media-feature-range-operator-space-after": "always",
        "media-feature-parentheses-space-inside": null,
        "rule-empty-line-before": null,
        "no-duplicate-selectors": true,
        "no-descending-specificity": null,
        "selector-type-case": "lower",
        "selector-max-empty-lines": 0,
        "selector-no-vendor-prefix": true,
        "selector-type-no-unknown": null,
        "selector-list-comma-newline-before": null,
        "selector-list-comma-newline-after": null,
        "selector-list-comma-space-before": "never",
        "selector-list-comma-space-after": "always-single-line",
        "selector-descendant-combinator-no-non-space": true,
        "selector-combinator-space-before": "always",
        "selector-combinator-space-after": "always",
        "selector-attribute-quotes": "always",
        "selector-attribute-brackets-space-inside": "never",
        "selector-attribute-operator-space-before": null,
        "selector-attribute-operator-space-after": null,
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-no-unknown": true,
        "selector-pseudo-class-parentheses-space-inside": null,
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-no-unknown": true,
        "block-no-empty": true,
        "block-opening-brace-space-before": "always-single-line",
        "block-opening-brace-space-after": "always-single-line",
        "block-opening-brace-newline-before": null,
        "block-opening-brace-newline-after": "always-multi-line",
        "block-closing-brace-space-before": "always-single-line",
        "block-closing-brace-space-after": null,
        "block-closing-brace-empty-line-before": "never",
        "block-closing-brace-newline-before": "always-multi-line",
        "block-closing-brace-newline-after": "always",
        "declaration-empty-line-before": "never",
        "declaration-colon-space-before": "never",
        "declaration-colon-space-after": "always",
        "declaration-colon-newline-after": null,
        "declaration-bang-space-before": "always",
        "declaration-bang-space-after": "never",
        "declaration-block-semicolon-space-before": "never",
        "declaration-block-semicolon-space-after": "always-single-line",
        "declaration-block-semicolon-newline-before": "never-multi-line",
        "declaration-block-semicolon-newline-after": "always-multi-line",
        "declaration-block-trailing-semicolon": "always",
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-no-redundant-longhand-properties": true,
        "declaration-block-no-duplicate-properties":
        [
            true,
            {
                "ignore": ["consecutive-duplicates-with-different-values"]
            }
        ],
        "custom-property-empty-line-before": [
            "never",
            {
                "ignore": ["after-comment"]
            }
        ],
        "property-case": "lower",
        "property-no-unknown":
        [
            true,
            {
                "ignoreSelectors": [":root", "html"],
                "checkPrefixed": false
            }
        ],
        "property-no-vendor-prefix": true,
        "value-no-vendor-prefix": true,
        "value-keyword-case": "lower",
        "no-extra-semicolons": true,
        "string-quotes": null,
        "string-no-newline": true,
        "number-leading-zero": "never",
        "number-no-trailing-zeros": true,
        "value-list-comma-space-before": "never",
        "value-list-comma-space-after": "always-single-line",
        "value-list-comma-newline-before": "never-multi-line",
        "value-list-comma-newline-after": "never-multi-line",
        "value-list-max-empty-lines": 0,
        "shorthand-property-no-redundant-values": true,
        "unit-case": "lower",
        "length-zero-no-unit": true,
        "color-no-invalid-hex": true,
        "font-family-no-duplicate-names": true,
        "font-family-name-quotes": "always-unless-keyword",
        "function-name-case": "lower",
        "function-max-empty-lines": 0,
        "function-comma-space-before": "never-single-line",
        "function-comma-space-after": "always-single-line",
        "function-whitespace-after": "always",
        "function-calc-no-unspaced-operator": true,
        "function-url-quotes": "always",
        "function-url-no-scheme-relative": true,
        "function-linear-gradient-no-nonstandard-direction": true,
        "no-invalid-double-slash-comments": true,
        "no-unknown-animations": true
    }
}
